.schedule_cell {
    background: #ffffff;
    border: #cccccc 1px solid;
}

.out_of_schedule_cell {
    background: #e0e0e0;
    color: #e0e0e0;
    justify-content: center;
    border: #cccccc 1px solid;
}

.appointment_cell {
    background: #e53935;
    color: #ffffff;
    margin: .25rem .25rem;
    justify-content: center;
    border: #cccccc 1px solid;
    border-radius: 0.25em;
}