@import "config.css";

.schedule_header {
    width: 100%;
    background: var(--primary-color-2);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    /*margin-bottom: auto;*/
    /*margin-top: auto;*/
}

.days_row {
    display: grid;
    grid-column: 1 / span 8;
    grid-template-columns: repeat(8, 1fr);
}

.week_day {
    height: 2rem;
    color: var(--text-color);
    border: #cccccc 1px solid;
    text-align: center;
    background: var(--primary-color-1);
    margin-top: auto;
    /*margin-bottom: auto;*/
}