@import "config.css";

.schedule_body {
    /*position: relative;*/
    margin-top: 4rem;
    width: 100%;
    background: var(--secondary-color-2);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.hours_column {
    grid-column: 1 / span 1;
    background: var(--primary-color-2);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.week_container {
    grid-column: 2 / span 7;
    width: 100%;
    display: grid;
    background: var(--secondary-color-2);
    grid-template-columns: repeat(7, 1fr);
}

.hour_cell {
    border: #cccccc 1px solid;
    text-align: center;
    background: var(--primary-color-1);
    color: var(--text-color);
}